.global-nav-container a{ color: #179010; }
.global-nav-container a span{color: #179010; }
.global-nav-container a span sup{color: #179010; }
.global-sub-nav  ul.clearfix .leaf:hover{ 
	border-bottom: 4px solid #179010;
	bottom: 0px;
	content: "";
}


.main_nav  ul.nav  li.active:hover
  {
   border-bottom: solid 4px #179010;
      
  }
  .main_nav  ul.nav  li:hover
  {
   border-bottom: solid 4px #179010;
      
  }
  .main_nav  ul.nav  li.active
  {
   border-bottom: solid 4px #179010;
      
  }


  #global-sub-nav-child ul.clearfix li:hover{
   border-bottom: solid 4px #179010;
  }
   #global-sub-nav-child ul.clearfix li.active{
   border-bottom: solid 4px #179010;
  }
  #global-sub-nav-child ul.clearfix li.active:hover{
   border-bottom: solid 4px #179010;
  }
