.global-nav-container a{ color: #6819bf; }
.global-nav-container a span{color: #6819bf; }
.global-nav-container a span sup{color: #6819bf; }

.main_nav  ul.nav  li.active:hover
  {
   border-bottom: solid 4px #6819bf;
      
  }
  .main_nav  ul.nav  li:hover
  {
   border-bottom: solid 4px #6819bf;
      
  }
  .main_nav  ul.nav  li.active
  {
   border-bottom: solid 4px #6819bf;
      
  }

  #global-sub-nav-child ul.clearfix li:hover{
   border-bottom: solid 4px #6819bf;
  }
   #global-sub-nav-child ul.clearfix li.active{
   border-bottom: solid 4px #6819bf;
  }
  #global-sub-nav-child ul.clearfix li.active:hover{
   border-bottom: solid 4px #6819bf;
  }