.row-fluid.hidden-phone {
  display: none;
}
@media screen and (min-width: 768px) {
  .row-fluid.hidden-phone {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .row-fluid {
    /*width: 100%;*/
  }
  .row-fluid::after,
  .row-fluid::before {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid::after {
    clear: both;
  }
  .row-fluid .span16 {
    display: block;
    float: left;
    min-height: 30px;
    box-sizing: border-box;
  }
}
.row-fluid .span2 {
  width: 20%;
  margin-left: 0;
}
.row-fluid .span2 a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
@media screen and (min-width: 768px) {
  .row-fluid .span2 {
    float: left;
  }
}
.slider-thumbs {
  margin-left: 0;
  margin-top: 0;
}
.thumbnails {
  border-top: 1px solid #e6e6e6;
  margin-left: 0;
  list-style: none;
  padding: 0;
  margin: 0 10px 25px;
}
.thumbnails li {
  margin-bottom: 20px;
  line-height: 20px;
}
.arrow-down {
  background: transparent url(/sites/all/themes/ocio/images/down-arrow.png);
  position: relative;
  height: 10px;
  width: 171px;
  top: -1px;
  z-index: 1;
  left: -73px;
  display: none;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease in out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.arrow-down.arrow-1 {
  /*background: url(/sites/all/themes/ocio/images/down-arrow-no-left.png) no-repeat scroll 74px 0 rgba(0, 0, 0, 0);*/
}
.arrow-1 {
  background: transparent url(/sites/all/themes/ocio/images/down-arrow-no-left.png) no-repeat scroll right center;
}
@media screen and (min-width: 768px) {
  .active .arrow-down {
    display: block;
  }
}
.active .arrow-dummy {
  display: none;
}
.active .head-text {
  color: #9e9991;
}
.arrow-dummy {
  height: 10px;
  display: block;
}
.thumbnail {
  border: 0;
  -webkit-border-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-height: 40px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  padding: 4px;
  line-height: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
.thumbnail a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
.thumbnail,
.thumbnail:focus,
.thumbnail:hover,
.thumbnail:active {
  color: #0064d2;
  text-decoration: none;
}
.thumbnail:active .number-head,
.thumbnail:focus .number-head,
.thumbnail:hover .number-head {
  color: #0064d2;
}
.number-head {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  float: left;
  font-size: 14px;
  line-height: 14px;
  color: #9CBFEC;
}
.head-text {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease in out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 13px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 21px;
  margin-top: 1px;
  color: #0064d2;
  text-decoration: none;
}
.head-text:hover {
  color: #9e9991;
}
@media screen and (min-width: 768px) {
  #detail_carousel {
    padding: 0 15%;
  }
}
.carousel {
  margin-bottom: 0;
  position: relative;
  line-height: 1;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .carousel {
    padding: 0 40px 30px;
  }
}
@media (min-width: 1281px) {
  .carousel {
    padding: 0 0 30px;
  }
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner .item {
  display: block;
}
@media screen and (min-width: 768px) {
  .carousel-inner .item {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .carousel-inner .item.active {
    display: block;
  }
}
.carousel-inner .item h3 {
  text-transform: uppercase;
  color: #0064d2;
  font-size: 12px;
  font-weight: 20px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .carousel-inner .item h3 {
    font-size: 79px;
    font-weight: 700;
    line-height: 76px;
  }
}
.carousel-inner .item h3 .content-number {
  margin-right: 10px;
  float: left;
}
@media screen and (min-width: 768px) {
  .carousel-inner .item h3 .content-number {
    display: none;
    margin: 0;
  }
}
.carousel-inner .item p {
  color: #aeaeae;
  margin: 0 0 10px;
  font-weight: 300;
  line-height: 29px;
}
@media screen and (min-width: 768px) {
  .carousel-inner .item p {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-inner .item p {
    font-size: 24px;
    margin-top: 25px;
  }
}
.carousel-inner .active {
  left: 0;
}
.carousel-inner .active,
.carousel-inner .next,
.carousel-inner .prev {
  display: block;
}
@media screen and (min-width: 768px) {
  #slider .carousel-inner .item {
    min-height: 440px;
  }
}
#slider:hover .carousel-control.left,
#slider:hover .carousel-control.right {
  display: none;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #slider:hover .carousel-control.left {
    display: block;
    left: 20px !important;
  }
  #slider:hover .carousel-control.right {
    display: block;
    right: 20px !important;
  }
}
@media screen and (min-width: 1200px) {
  #slider:hover .carousel-control.left {
    display: block;
    left: 100px !important;
  }
  #slider:hover .carousel-control.right {
    display: block;
    right: 100px !important;
  }
}
.carousel-control {
  position: absolute;
  margin-top: 120px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  cursor: pointer;
  top: 270px;
}
.carousel-control.left {
  left: -1000px !important;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background-image: none;
  background: url(/sites/all/themes/ocio/images/arrow_left.png);
  opacity: 0;
  filter: none;
}
.carousel-control.right {
  right: -1000px !important;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  background-image: none;
  background: url(/sites/all/themes/ocio/images/arrow_right.png);
  opacity: 0;
  filter: none;
}
.icon-prev,
.icon-next {
  height: 54px;
  width: 32px;
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repat;
}
.icon-prev {
  background: url(/sites/all/themes/ocio/images/arrow_left.png);
}
