body {
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    padding: 0px;
  }
}
@media (min-width: 980px) {
  body {
    width: auto !important;
    position: relative !important;
    right: 0px !important;
  }
}
* {
  outline: 0;
}
@media (min-width: 980px) {
  #sidr-right {
    display: none !important;
  }
}
.container.content-wrapper {
  background: #ffffff;
}
.apply-anim .container.content-wrapper {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 767px) {
  .container.content-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container.content-wrapper {
    width: 100%;
  }
}
@media (min-width: 980px) {
  .container.content-wrapper {
    width: 90%;
  }
}
.static-header {
  position: fixed !important;
}
@media (min-width: 768px) {
  .static-header {
    top: 30px;
  }
}
@media (max-width: 767px) {
  .static-header {
    width: 100% !important;
    top: 0px;
  }
}
.static-header-bottom {
  position: fixed;
  bottom: 0;
}
@media (max-width: 767px) {
  .lt-android-53519 .absolute-header-bottom {
    top: 0px;
  }
}
@media (min-width: 768px) {
  .lt-android-53519 .absolute-header-bottom {
    top: 104px;
  }
}
.lt-ie8 .absolute-header-bottom {
  position: fixed;
}
.static-main-header {
  position: fixed;
  width: 100%;
  left: 0;
}
#right-menu {
  position: absolute;
  right: 20px;
}
.header-container {
  z-index: 6;
}
.hr-shadow {
  display: block;
  clear: both;
  margin: 0em auto -2.4em auto;
  width: 90%;
  overflow: hidden;
}
.hr-shadow .edge {
  height: 1px;
  background: #e4e4e4;
  background: -webkit-linear-gradient(left, #ffffff 0%, #e4e4e4 20%, #e4e4e4 80%, #ffffff 99%);
  background: -moz-linear-gradient(left, #ffffff 0%, #e4e4e4 20%, #e4e4e4 80%, #ffffff 99%);
  background: -ms-linear-gradient(left, #ffffff 0%, #e4e4e4 20%, #e4e4e4 80%, #ffffff 99%);
  background: -o-linear-gradient(left, #ffffff 0%, #e4e4e4 20%, #e4e4e4 80%, #ffffff 99%);
  background: linear-gradient(left, #ffffff 0%, #e4e4e4 20%, #e4e4e4 80%, #ffffff 99%);
}
.hr-shadow .shadow {
  height: 40px;
  width: 86%;
  margin: 0 auto;
  position: relative;
  top: -60px;
  -webkit-box-shadow: 2px 14px 79px -14px #cccccc;
  -moz-box-shadow: 2px 14px 79px -14px #cccccc;
  box-shadow: 2px 14px 79px -14px #cccccc;
}
.icon-control {
  background: url(/sites/all/themes/ocio/img/controls.png) no-repeat;
}
.icon-next {
  background: url(/sites/all/themes/ocio/images/arrow_right.png) no-repeat;
}
.icon-prev {
  background: url(/sites/all/themes/ocio/img/arrow_left.png) no-repeat;
}
.icon-prev,
.icon-next {
  height: 54px;
  width: 32px;
}
/*.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
   .lt-ie9 & {
     filter : progid:DXImageTransform.Microsoft.gradient(startColorstr="#97000000",endColorstr="#97000000");
   }
  .fancybox-wrap {
    @media (max-width: 1024px){
      width: 85% !important;
    }
    @media (min-width: 1024px){
      width: 60% !important;
    }
    .fancybox-skin {
      background: #000000 !important;
      background-color: #000000 !important;
      //padding:0px !important;

    }
    .fancybox-outer {
      background: #000000;
      background-color: #000000 !important;
    }
  }
}*/
#to_top {
  position: absolute;
  right: 10%;
  top: -35px;
  width: 51px;
  height: 27px;
  display: none;
  background: url(/sites/all/themes/ocio/img/scroll_up.png) no-repeat;
  cursor: pointer;
}
.apply-anim #to_top {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 767px) {
  #to_top {
    right: 2%;
  }
}
@media (min-width: 980px) {
  #to_top {
    right: 13%;
  }
}
#to_top a {
  text-decoration: none;
  color: #796e65;
  font-size: 11px;
  display: block;
  padding: 6px 16px;
}
#to_top a:hover,
#to_top a:focus {
  text-decoration: none;
  color: #0064d2;
}
.apply-anim #to_top a:hover,
.apply-anim #to_top a:focus {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 767px) {
  .menu-expand .service-content-container {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .menu-expand .container.content-wrapper {
    /*.caption-text {
          .filterblur(~"5px");
          .translate3d(0,0,0);

        }
        .intro-text {
          .filterblur(~"2px");
          .translate3d(0,0,0);
        }
       .filterblur(~"2px");
       .translate3d(0,0,0);*/
  }
}
.sub-head {
  font-size: 19px;
  color: #c9c4c4;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  .sub-head {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
@media (min-width: 980px) {
  .more-menu {
    width: 550px !important;
  }
}
.lt-android-53519 .fixed-header {
  position: fixed;
}
.tablet-non-retina,
.phone-non-retina {
  display: block;
}
.tablet-retina,
.phone-retina {
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
  .phone-retina {
    display: block;
  }
  .phone-non-retina {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
  .tablet-retina {
    display: block;
  }
  .tablet-non-retina {
    display: none;
  }
}
.lt-ie9 .tablet-retina,
.lt-ie9 .phone-retina {
  display: none;
}
.lt-ie9 .tablet-non-retina,
.lt-ie9 .phone-non-retina {
  display: block;
}
@media (max-width: 767px) {
  .only-phone {
    display: block;
  }
  .only-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .only-phone {
    display: none;
  }
  .only-tablet {
    display: block;
  }
}
.notfound-container .caption-text {
  color: #E9E9E8;
  font-size: 92px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 94px;
  text-align: center;
  margin: 15% 0px;
}
@media (max-width: 767px) {
  .notfound-container .caption-text {
    font-size: 45px;
    line-height: 42px;
    margin: 25% 0px;
  }
}
.flowplayer .fp-fullscreen {
  top: 15px;
  right: 15px;
}
@media (max-width: 370px) {
  .cio-placeholder {
    margin-bottom: 20px;
  }
}
@media (min-width: 371px) {
  .cio-placeholder {
    float: left;
  }
}
@media (min-width: 760px) {
  .cio-placeholder {
    margin-top: 10px;
  }
}
.leader-placeholder,
.cio-placeholder {
  margin-right: 25px;
}
.leader-placeholder .cio-img,
.cio-placeholder .cio-img {
  height: 148px;
  border: solid 1px #efefef;
  padding: 3px;
  width: 148px;
}
.lt-ie9 .leader-placeholder .cio-img,
.lt-ie9 .cio-placeholder .cio-img {
  max-width: none;
}
.leader-placeholder .leader-img,
.cio-placeholder .leader-img {
  height: 120px;
  width: 120px;
  border: solid 1px #efefef;
  padding: 3px;
}
.leader-placeholder h1,
.cio-placeholder h1 {
  margin: 0px;
  margin-top: 11px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #9e9991;
  /*a {
      color : @profile_text_gray;
      text-decoration: none;
      &:hover {
        color : @ebay_blue;
      }
    }*/
}
.leader-placeholder h2,
.cio-placeholder h2 {
  color: #bdbdbd;
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  font-weight: 200;
}
.leader-placeholder h3,
.cio-placeholder h3 {
  font-size: 12px;
  line-height: 20px;
  margin: 0px;
  margin-top: -1px;
  font-weight: normal;
}
.leader-placeholder h3 a,
.cio-placeholder h3 a {
  color: #0064d2;
  text-decoration: none;
}
.lt-ie8 .leader-placeholder h3 a,
.lt-ie8 .cio-placeholder h3 a {
  float: left;
}
.container.common-container {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .container.common-container {
    padding-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .container.common-container .profile-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .container.common-container .profile-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 901px) {
  .container.common-container .profile-container {
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media (min-width: 980px) {
  .sub-head {
    display: none !important;
  }
}
.body-row.row {
  margin-left: 0;
  margin-right: 0;
}
