#views-bootstrap-carousel-1 .carousel-inner .views-field-title-1 {
  color: "0064d2";
  font-size: 92px;
  font-weight: bold;
  line-height: 94px;
  padding-bottom: 20px;
  border-bottom: dashed 1px #e0e0df;
}
@media (max-width: 767px) {
  #views-bootstrap-carousel-1 .carousel-inner .views-field-title-1 {
    line-height: 61px;
    font-size: 64px;
    margin-top: 10px;
  }
}
#page-content {
  margin: 0 auto;
}
@media (min-width: 980px) {
  #page-content {
    width: 970px;
  }
}
@media (min-width: 1281px) {
  #page-content {
    width: 1280px;
  }
}
.edit-editing .edit-form-submit {
  display: none;
}
.quickedit-init-processed .quickedit-form-submit {
  display: none;
}
.quickedit-init-processed .carousel-inner {
  overflow: visible;
}
.eqheightrow .col {
  margin-bottom: 15px;
}
.view-site-template .col {
  margin-bottom: 30px;
  text-align: center;
}
.view-site-template .col a {
  text-transform: uppercase;
  font-weight: bold;
}
.view-site-template .col .views-field-field-screenshot {
  margin-top: 10px;
}
#create-team-site-form .baseurl {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  width: 19.5%;
}
#create-team-site-form .baseurl {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
#create-team-site-form .form-item-path label {
  width: 100%;
}
#create-team-site-form .form-item-path p {
  width: 100%;
}
#create-team-site-form .form-item-path input {
  width: 100%;
}
@media (min-width: 981px) {
  #create-team-site-form #edit-name {
    float: left;
    width: 50%;
  }
  #create-team-site-form .form-item-path p {
    width: 20%;
    margin-right: 0px;
  }
  #create-team-site-form #edit-path {
    float: left;
    width: 50%;
  }
  #create-team-site-form .form-managed-file {
    float: left;
    width: 50%;
  }
  #create-team-site-form #edit-uploadlogo {
    float: left;
    width: 50%;
  }
  #create-team-site-form .form-item-path label {
    width: 100% !important;
  }
  #create-team-site-form #edit-color-scheme {
    float: left;
    width: 50%;
  }
  #create-team-site-form .form-group label {
    float: left;
    width: 20%;
  }
  #create-team-site-form .form-group {
    float: left;
    width: 100%;
  }
  #create-team-site-form #edit-color-scheme {
    float: left;
    width: 50%;
  }
  #create-team-site-form #edit-active {
    float: left;
  }
  #create-team-site-form .publish_checkbox {
    margin-bottom: 10px;
  }
  #create-team-site-form .publish_checkbox .form-item {
    float: left;
  }
}
#create-team-site-form .publish_checkbox {
  width: 100%;
  float: left;
}
#create-team-site-form .publish_checkbox .checkbox {
  margin-right: 10px;
  float: left;
}
@media (min-width: 981px) {
  #create-team-site-form .publish_checkbox {
    float: left;
    width: 100%;
  }
  #create-team-site-form .publish_checkbox input {
    margin-left: 0px !important;
  }
  #create-team-site-form .publish_checkbox span {
    float: left;
    margin-left: 2px;
  }
}
.field-name-og-group-ref {
  display: none;
}
.field-name-group-content-access {
  display: none;
}
.role-administrator .field-name-og-group-ref {
  display: block;
}
.role-administrator .field-name-group-content-access {
  display: block;
}
