#feedback_widget {
  display: block;
  width: 308px;
  position: fixed;
  right: -268px;
  top: 203px;
  z-index: 20;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}
@media (max-width: 767px) {
  #feedback_widget {
    top: 113px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #feedback_widget {
    top: 138px;
  }
}
#feedback_widget.active {
  right: 0;
}
#feedback_widget.active .feedback-toggle {
  border: solid 1px #e5e5e5;
  border-right: none;
  background-color: #6f7073 !important;
}
#feedback_widget.active .feedback-toggle .feedback-toggle-icon {
  width: 39px;
  height: 39px;
  background-image: url(/sites/all/themes/ocio/images/help_icon_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
  /*.lt-ie9 & {
          background: @fdback-toggleicon-background !important;
        }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget.active .feedback-toggle .feedback-toggle-icon {
    background-image: url(/sites/all/themes/ocio/images/help_icon_on@2x.png);
  }
}
#feedback_widget.active .feedback-toggle .feedback-toggle-text {
  width: 39px;
  height: 159px;
  background-image: url(/sites/all/themes/ocio/images/help_text_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
  background-color: #7b7b7b;
  /*.lt-ie9 & {
          background: @fdback-toggletxt-background;
        }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget.active .feedback-toggle .feedback-toggle-text {
    background-image: url(/sites/all/themes/ocio/images/help_text_on@2x.png);
  }
}
#feedback_widget.active .feedback-body {
  display: table;
}
.lt-ie8 #feedback_widget.active .feedback-body {
  display: block;
  margin-left: 41px;
}
#feedback_widget.active .feedback-body textarea {
  width: 238px;
  resize: none;
  -webkit-appearance: none;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 767px) {
  #feedback_widget.active .feedback-body textarea {
    width: 225px;
  }
}
#feedback_widget .feedback-toggle {
  float: left;
  background-color: #0064d2 !important;
  color: #4e4641;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: solid 1px #e5e5e5;
  border-right: none;
}
#feedback_widget .feedback-toggle .feedback-toggle-icon {
  width: 39px;
  height: 39px;
  background-image: url(/sites/all/themes/ocio/images/help_icon_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
  background-color: #f0f0f0;
  /*.lt-ie9 & {
        background: @fdback-toggleicon-background;
      }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-toggle .feedback-toggle-icon {
    background-image: url(/sites/all/themes/ocio/images/help_icon_off@2x.png);
  }
}
@media (min-width: 980px) {
  #feedback_widget .feedback-toggle .feedback-toggle-icon {
    border-top: solid 1px #e5e5e5;
  }
}
#feedback_widget .feedback-toggle .feedback-toggle-text {
  width: 39px;
  height: 159px;
  background-image: url(/sites/all/themes/ocio/images/help_text_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
  background-color: #fcfcfc;
  border-bottom: solid 1px #ffffff;
  /*.lt-ie9 & {
        background: #fcfcfc;
      }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-toggle .feedback-toggle-text {
    background-image: url(/sites/all/themes/ocio/images/help_text_off@2x.png);
  }
}
@media (max-width: 979px) {
  #feedback_widget .feedback-toggle .feedback-toggle-text {
    display: none;
  }
}
#feedback_widget .feedback-body {
  display: table;
  padding: 15px 14px;
  background: #ffffff;
  border: solid 1px #e5e5e5;
  border-right: none;
}
@media (min-width: 980px) {
  #feedback_widget .feedback-body {
    height: 200px;
    min-height: 170px;
  }
  .lt-ie8 #feedback_widget .feedback-body {
    height: auto;
  }
}
#feedback_widget .feedback-body input::-webkit-input-placeholder {
  color: #808184;
}
#feedback_widget .feedback-body input:-moz-placeholder {
  color: #808184;
}
#feedback_widget .feedback-body textarea::-webkit-input-placeholder {
  color: #808184;
}
#feedback_widget .feedback-body textarea:-moz-placeholder {
  color: #808184;
}
#feedback_widget .feedback-body textarea {
  font-size: 15px;
  border: solid 1px #e5e4e4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 70px;
  color: #808184;
  font-weight: 300;
}
#feedback_widget .feedback-body textarea:focus {
  border: solid 1px #e5e4e4;
}
#feedback_widget .feedback-body h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #0064d2;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}
@media (min-width: 980px) {
  #feedback_widget .feedback-body h3 {
    display: none;
  }
}
#feedback_widget .feedback-body .feedback-msg {
  font-size: 15px;
  color: #676767;
  line-height: 19px;
  font-weight: 300;
}
.lt-ie8 #feedback_widget .feedback-body {
  display: none;
}
#feedback_widget .feedback-body .thumbs-action {
  margin: 20px 0px 0px;
}
#feedback_widget .feedback-body .thumbs-action .feedback-loader {
  position: absolute;
  padding: 10px;
  display: none;
}
#feedback_widget .feedback-body .thumbs-action .thumbs-btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#feedback_widget .feedback-body .thumbs-action .thumbs-btn label {
  width: 38px;
  height: 38px;
  outline: 0;
  border-style: none;
  margin-bottom: 0px;
}
#feedback_widget .feedback-body .thumbs-action .thumbs-btn input {
  position: absolute;
  right: -1000px;
}
#feedback_widget .feedback-body .thumbs-action .thumbs-up {
  margin-right: 10px;
}
#feedback_widget .feedback-body .thumbs-action .thumbs-up label {
  background-image: url(/sites/all/themes/ocio/images/thumbs_up_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-up label {
    background-image: url(/sites/all/themes/ocio/images/thumbs_up_off@2x.png);
  }
}
#feedback_widget .feedback-body .thumbs-action .thumbs-up label:hover {
  background-image: url(/sites/all/themes/ocio/images/thumbs_up_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-up label:hover {
    background-image: url(/sites/all/themes/ocio/images/thumbs_up_on@2x.png);
  }
}
#feedback_widget .feedback-body .thumbs-action .thumbs-up input[type='radio']:checked + label {
  background-image: url(/sites/all/themes/ocio/images/thumbs_up_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-up input[type='radio']:checked + label {
    background-image: url(/sites/all/themes/ocio/images/thumbs_up_on@2x.png);
  }
}
.lt-ie9 #feedback_widget .feedback-body .thumbs-action .thumbs-up.checked label {
  filter: none;
  background: url(/sites/all/themes/ocio/images/thumbs_up_on.png);
}
#feedback_widget .feedback-body .thumbs-action .thumbs-down label {
  background-image: url(/sites/all/themes/ocio/images/thumbs_down_off.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-down label {
    background-image: url(/sites/all/themes/ocio/images/thumbs_down_off@2x.png);
  }
}
#feedback_widget .feedback-body .thumbs-action .thumbs-down label:hover {
  background-image: url(/sites/all/themes/ocio/images/thumbs_down_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-down label:hover {
    background-image: url(/sites/all/themes/ocio/images/thumbs_down_on@2x.png);
  }
}
#feedback_widget .feedback-body .thumbs-action .thumbs-down input[type='radio']:checked + label {
  background-image: url(/sites/all/themes/ocio/images/thumbs_down_on.png);
  background-repeat: no-repeat;
  background-size: 100%;
  /*.lt-ie9 & {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='images/@{file}.@{type}',
      sizingMethod='scale');
  }*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #feedback_widget .feedback-body .thumbs-action .thumbs-down input[type='radio']:checked + label {
    background-image: url(/sites/all/themes/ocio/images/thumbs_down_on@2x.png);
  }
}
.lt-ie9 #feedback_widget .feedback-body .thumbs-action .thumbs-down.checked label {
  filter: none;
  background: url(/sites/all/themes/ocio/images/thumbs_down_on.png);
}
#feedback_widget .feedback-body .feedback-comment {
  display: none;
  margin-top: 10px;
}
.lt-ie10 #feedback_widget .feedback-body .feedback-comment.typing .feedback-txt:before {
  content: none !important;
}
#feedback_widget .feedback-body .feedback-comment.typing .feedback-send a {
  background: #0064d2;
}
.lt-ie8 #feedback_widget .feedback-body .feedback-comment.typing .ie-before {
  display: none;
}
#feedback_widget .feedback-body .feedback-txt {
  position: relative;
}
.lt-ie10 #feedback_widget .feedback-body .feedback-txt:before {
  content: "How can we improve?";
  margin-left: 7px;
  position: absolute;
  margin-top: 5px;
  color: #808184;
  font-weight: 300;
}
.lt-ie8 #feedback_widget .feedback-body .feedback-txt .ie-before {
  position: absolute;
  margin-top: 5px;
  left: 7px;
  font-size: 15px;
  font-weight: 300;
  color: #808184;
}
#feedback_widget .feedback-body .feedback-success {
  display: none;
  font-size: 17px;
  color: #929497;
  margin-top: 10px;
  font-weight: 300;
}
#feedback_widget .feedback-body.open .feedback-comment {
  display: block;
}
#feedback_widget .feedback-body #feedback_limit {
  margin-right: 15px;
  color: #676767;
}
#feedback_widget .feedback-body .feedback-send {
  margin-top: 10px;
  text-align: right;
}
#feedback_widget .feedback-body .feedback-send a {
  background: #9a9c9f;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
}
