.home-container,
.common-container,
.navbar-wrapper .container,
.header-wrap {
  /*@media (min-width: 1200px) and (max-width: 1500px){
    width: 1280px !important;
  }

  @media (min-width: 1501px){
    width: @large_device !important;
  }*/
}
@media (min-width: 980px) and (max-width: 1199px) {
  .home-container,
  .common-container,
  .navbar-wrapper .container,
  .header-wrap {
    width: 930px !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .service-details {
    width: 960px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .service-details {
    width: 960px !important;
  }
}
@media (min-width: 1501px) {
  .service-details {
    width: 1400px !important;
  }
}
