.lt-ie8 .sub-nav-item {
  zoom: expression(this.runtimeStyle.zoom= 1 ", this.insertBefore( document.createElement(" span "), this.firstChild ).className=" ie-before ",this.firstChild.innerHTML = ' ')";
}
@media (min-width: 981px) {
  .lt-ie8 .global-nav-container .global-nav-wrapper {
    width: 99.9% !important;
  }
}
.lt-ie8 .global-nav-container .global-sub-nav ul li.leaf .ie-before {
  display: none !important;
  position: absolute;
}
@media (min-width: 981px) {
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf .ie-before {
    position: absolute;
    display: none !important;
    width: 99%;
    left: 1px;
    bottom: 0px;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf.active .ie-before {
    display: block !important;
    border-bottom: solid 4px #0064d2;
  }
  .lt-ie9 .global-nav-container .global-sub-nav ul li.leaf.active a {
    margin-right: 1px;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf.active a {
    border-right-color: #e7e7e6;
    border-left-color: #e7e7e6;
  }
  .lt-ie9 .global-nav-container .global-sub-nav ul li.leaf.active + li a span {
    margin-left: -2px;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf.active span {
    margin-left: -1px;
  }
  .global-nav-container .global-sub-nav ul li.leaf:hover {
    background: transparent;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf:hover {
    background: #ffffff;
  }
  .lt-ie9 .global-nav-container .global-sub-nav ul li.leaf:hover + li a span {
    margin-left: -2px;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf:hover span {
    margin-left: -1px;
  }
}
@media (min-width: 981px) {
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf a {
    margin-right: 1px;
    border-right-color: #ffffff;
    border-left-color: #ffffff;
  }
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf a:hover {
    border-width: 0px 1px 0px 1px;
    border-right-color: #e7e7e6;
    border-left-color: #e7e7e6;
  }
  .lt-ie9 .global-nav-container .global-sub-nav ul li.leaf a:hover {
    margin-right: 1px;
  }
}
@media (min-width: 981px) {
  .lt-ie8 .global-nav-container .global-sub-nav ul li.leaf a span {
    margin-left: 0px;
  }
}
