.home-container {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .home-container .text-container {
    margin: 0px 10% 36px;
  }
}
@media (min-width: 768px) {
  .home-container .text-container {
    margin: 0px 18% 36px;
  }
}
@media (min-width: 1281px) {
  .home-container .text-container {
    margin: 0px 0px 36px;
  }
}
.home-container .caption-text {
  color: #0064d2;
  font-size: 92px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 94px;
  border-bottom: dashed 1px #e0e0df;
}
.apply-text-anim .home-container .caption-text {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 767px) {
  .home-container .caption-text {
    line-height: 61px;
    font-size: 64px;
    margin-top: 10px;
  }
}
.home-container .intro-text {
  color: #bdbdbd;
  padding-top: 23px;
  font-weight: 200;
}
@media (max-width: 767px) {
  .home-container .intro-text {
    line-height: 28px;
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .home-container .intro-text {
    font-size: 25px;
    line-height: 42px;
  }
}
.video-carousel-wrap {
  background: #ffffff;
}
.video-carousel-wrap .videobox {
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 600px) {
  .video-carousel-wrap .carousel {
    padding: 0 4% 30px;
  }
}
.video-carousel-wrap .carousel-control {
  top: 38%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .video-carousel-wrap .carousel-control {
    top: 28%;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .video-carousel-wrap .carousel-control {
    top: 30%;
  }
}
@media (max-width: 600px) {
  .video-carousel-wrap .carousel-control {
    display: none !important;
  }
}
.video-carousel-wrap .video-carousel {
  width: 93%;
  max-width: 1170px;
}
@media (min-width: 320px) and (max-width: 600px) {
  .video-carousel-wrap .video-carousel {
    width: 88%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .video-carousel-wrap .video-carousel {
    width: 95%;
  }
}
.video-carousel-wrap .video-carousel.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: white;
  margin-bottom: 0px;
  padding-top: 0px;
  border: none;
}
.video-carousel-wrap .video-carousel .video-carousel-label {
  color: #0064d2;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  width: 89%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 600px) {
  .video-carousel-wrap .video-carousel .video-carousel-label {
    width: 99%;
  }
}
.video-carousel-wrap .video-carousel .carousel-inner {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 600px) {
  .video-carousel-wrap .video-carousel .carousel-inner {
    width: 100%;
  }
}
.video-carousel-wrap .thumbnail img {
  width: 100%;
}
.video-carousel-wrap .thumbnail,
.video-carousel-wrap a.thumbnail:hover,
.video-carousel-wrap a.thumbnail:focus {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.video-carousel-wrap .col-sm-4 {
  position: relative;
}
.video-carousel-wrap .col-sm-4 a:before {
  position: absolute;
  z-index: 1;
  content: "";
  background: url(/sites/all/themes/ocio/images/controls.png) no-repeat;
  background-repeat: no-repeat;
  background-position: -11px -89px;
  height: 52px;
  width: 54px;
  top: 56%;
  left: 53%;
  margin: -38px 0px 0px -37px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .video-carousel-wrap .col-sm-4 a:before {
    background-position: -11px -158px;
    left: 57%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .video-carousel-wrap .col-sm-4 a:before {
    background-position: -11px -158px;
    left: 57%;
  }
}
.lt-ie9 .video-carousel-wrap .col-sm-4 a:before {
  content: url(/sites/all/themes/ocio/images/play.png);
  top: 50%;
  left: 50%;
}
.video-carousel-wrap .col-sm-4 a:hover:before {
  background-position: -11px -13px;
}
@media (min-width: 320px) and (max-width: 400px) {
  .video-carousel-wrap .col-sm-4 a:hover:before {
    background-position: -11px -232px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .video-carousel-wrap .col-sm-4 a:hover:before {
    background-position: -11px -232px;
  }
}
.lt-ie9 .video-carousel-wrap .col-sm-4 a:hover:before {
  content: url(/sites/all/themes/ocio/images/play_blue.png);
}
.video-carousel-wrap .carousel-caption {
  margin: -4px 0px 4px 0px;
  text-align: left;
  padding: 16px 19px 8px 19px;
  right: 19px;
  left: 19px;
  background: rgba(0, 100, 210, 0.6);
}
@media (max-width: 480px) {
  .video-carousel-wrap .carousel-caption {
    position: absolute;
    padding: 7px 10px 4px;
    bottom: 0px;
  }
}
@media (max-width: 767px) {
  .video-carousel-wrap .carousel-caption {
    bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .video-carousel-wrap .carousel-caption {
    padding: 6px 11px 4px 11px;
  }
}
.lt-ie9 .video-carousel-wrap .carousel-caption {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#600064d2", endColorstr="#600064d2");
  zoom: 1;
}
.video-carousel-wrap .carousel-caption h4 {
  font-weight: normal;
  font-size: 16px;
  line-height: 11px;
  margin: 0 0 1px;
}
@media (min-width: 300px) and (max-width: 350px) {
  .video-carousel-wrap .carousel-caption h4 {
    line-height: 15px;
    height: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1182px) {
  .video-carousel-wrap .carousel-caption h4 {
    line-height: 15px;
    height: 12px;
  }
}
.video-carousel-wrap .carousel-caption p {
  margin: 0;
  /*@media @wide {
        margin-top: 25px;
        margin-bottom: 10px;
      }*/
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
@media (min-width: 1281px) {
  .carousel {
    padding: 0 0 30px;
  }
}
.carousel-control {
  cursor: pointer;
  left: -12px;
  border: none;
  opacity: 1;
  filter: none;
}
.carousel-control.right {
  right: -12px;
}
.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  filter: none;
}
.lt-ie9 .carousel-control {
  filter: none !important;
}
.indicator-holder {
  padding: 20px 0px;
  margin-top: -5px;
}
.carousel-indicators {
  position: relative;
  width: 55px;
  margin: 0 auto;
  right: 0;
}
.carousel-indicators li {
  cursor: pointer;
  background: #e6e6e6;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.carousel-indicators .active {
  background: #0064d2;
}
.overlay-help[data-class="show"] + .container-fluid .drop-items-container .top-content,
.overlay-help[data-class="show"] + .container-fluid .drop-items-container .idea-label-ribbon div {
  visibility: hidden;
}
/*#video_modal {
  &.modal {
    @media (min-width: 768px) and (max-width: 999px){
      width: 660px;
      margin-left: -330px;
    }
    @media (min-width: 1000px){
      width: 940px;
      margin-left: -475px;
    }

    background: #070308;
  }
  .modal-body  {
    overflow: hidden;
  }
}*/
.fancybox-wrap {
  width: 80% !important;
}
