.global-nav-container {
  z-index: 2;
}
@media (min-width: 981px) {
  .global-nav-container {
    position: absolute;
    width: 100%;
    top: 0px;
  }
}
@media (min-width: 981px) {
  .global-nav-container .fixed-header {
    position: fixed !important;
    width: 100%;
    top: 0px !important;
    left: 0;
    margin: 0;
    position: fixed;
  }
}
@media (min-width: 981px) {
  .global-nav-container .fixed-header li a {
    padding: 15px 0px !important;
  }
}
@media (min-width: 981px) {
  .global-nav-container .fixed-header li.global-sub-nav-home a {
    margin: 18px 0px !important;
  }
}
.global-nav-container .global-main-nav-sm {
  z-index: 2;
  height: 50px;
  background: #fafafa;
  border: solid 1px #e7e7e6;
  border-width: 1px 0px 1px 0px;
  display: none;
  position: fixed;
  width: 100%;
}
@media (max-width: 980px) {
  .global-nav-container .global-main-nav-sm {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    top: 0px;
  }
}
.menu-expand .global-nav-container .global-main-nav-sm {
  left: 270px;
}
.global-nav-container .global-main-nav-sm .global-nav-menu {
  float: left;
  padding: 10px 0px;
}
.global-nav-container .global-main-nav-sm .global-nav-menu a {
  text-decoration: none;
  font-size: 23px;
  padding: 13px 15px;
  color: #0064d2;
  font-weight: bold;
}
.global-nav-container .global-nav-search {
  cursor: pointer;
  padding: 15px 18px;
  color: #0064d2;
  float: right;
  font-size: 23px;
  font-weight: bold;
  border-left: solid 1px #e7e7e6;
  line-height: 19px !important;
  display: none !important;
}
.global-nav-container .global-nav-wrapper {
  z-index: 2;
  width: 100%;
  position: absolute;
  -webkit-overflow-scrolling: touch;
}
.global-nav-container .global-nav-wrapper > * {
  -webkit-transform: translateZ(0px);
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #fcfcfc;
    overflow-y: auto;
  }
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper {
    min-height: 177px;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .thehub-logo {
  background-image: url(/sites/all/themes/ocio/images/logo/hub_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 112px;
  width: 112px;
  height: 50px;
  padding: 10px;
  float: left;
  margin-left: 15px;
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .thehub-logo {
    display: none;
  }
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav {
    width: 100%;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-nav-search {
    display: none;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list {
  position: relative;
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list {
    float: right;
  }
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list .region-global-nav {
    float: right;
    height: 50px;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul {
  padding: 0px;
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul {
    border-bottom: solid 1px #e7e7e6;
  }
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul {
    float: right;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li {
  position: relative;
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.sub-nav-item,
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.global-sub-nav-home {
    list-style: none;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.sub-nav-item a:hover,
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.global-sub-nav-home a:hover {
    color: #8c8c8c !important;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.active a {
    background: #f0f0f0;
    border-bottom: none;
    color: #363535;
    position: relative;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.active a:after {
    content: '';
    left: 0px;
    position: absolute;
    border-left: solid 6px #0064d2;
    top: 0px;
    height: 100%;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.active a:hover {
    background: #f0f0f0;
    color: #363535 !important;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li:hover a {
    position: relative;
    /*&:after {
          content: '';
          left: 0px;
          position: absolute;
          border-left: solid 6px @ebay_blue;
          top :0px;
          height : 100%;

        }*/
  }
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li a {
    padding: 22px 14px;
    background: #fcfcfc;
    color: #8c8c8c;
    font-size: 24px;
    /*
      border-style: groove;
      border-width: 0px 0px 1px 0px;
      border-color: @nav_border_color;
      border-bottom-color: @white_hex_color;
      */
    border-top: solid 1px #e7e7e6;
    border-bottom: solid 1px #ffffff;
    border-right: inset 1px #e7e7e6;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li a:hover {
    background: #fcfcfc;
    color: #8c8c8c;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.li-sub-head {
  list-style: none;
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.li-sub-head {
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 19px;
    background: #dedede;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.li-sub-head:hover a:after {
    display: none;
  }
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.li-sub-head {
  display: block;
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li.li-sub-head {
    display: none;
  }
}
.global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li a {
  display: block;
  text-decoration: none;
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li a {
    color: #8c8c8c;
    padding: 15px 22px;
    text-align: center;
    display: block;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav .global-main-nav-list ul li a:hover {
    color: #363535;
  }
}
@media (min-width: 981px) {
  .global-nav-container .global-nav-wrapper .global-main-nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #fafafa;
    border: solid 1px #e7e7e6;
  }
  .global-nav-container .global-nav-wrapper .global-main-nav div {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
}
@media (max-width: 980px) {
  .global-nav-container .global-nav-wrapper {
    border-right: solid 1px #e7e7e6;
    position: fixed;
    top: 0px;
    left: -1000px;
    height: 100%;
  }
  .menu-expand .global-nav-container .global-nav-wrapper {
    width: 270px;
    left: 0px;
  }
}
@media (min-width: 980px) {
  #global_nav_child {
    width: 970px;
    position: relative;
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 1281px) {
  #global_nav_child {
    width: 1280px;
  }
}
