.view-id-scope_1 {
  position: relative;
  display: none;
  font-size: 13px;
  color: #9e991;
  margin-bottom: 50px;
}
.view-id-scope_1 .view-content {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  padding: 12px;
  margin-top: 2px;
}
.view-id-scope_1 .col + .col {
  margin-top: 12px;
}
@media screen and (min-width: 1200px) {
  .view-id-scope_1 .col + .col {
    margin-top: 0;
  }
}
.view-id-scope_1 .row + .row {
  margin-top: 12px;
}
@media screen and (min-width: 1200px) {
  .view-id-scope_1 .row + .row {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .view-id-scope_1 {
    margin-top: 50px;
    width: 320%;
  }
  .view-id-scope_1.index-1 {
    margin-left: -112%;
  }
  .view-id-scope_1.index-2 {
    margin-left: -223%;
  }
}
@media screen and (min-width: 992px) {
  .view-id-scope_1 {
    margin-top: 50px;
    width: 320%;
  }
  .view-id-scope_1.index-1 {
    margin-left: -110%;
  }
  .view-id-scope_1.index-2 {
    margin-left: -220%;
  }
}
@media screen and (min-width: 1200px) {
  .view-id-scope_1 {
    width: 310%;
  }
  .view-id-scope_1.index-1 {
    margin-left: -111%;
  }
  .view-id-scope_1.index-2 {
    margin-left: -215%;
  }
}
.view-id-scope_1 .arrow-up {
  margin-top: 0;
  height: 10px;
}
@media screen and (min-width: 768px) {
  .view-id-scope_1 .arrow-up {
    width: 187px;
    margin-top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  .view-id-scope_1 .arrow-up {
    height: 10px;
    width: 187px;
    margin-top: -12px;
  }
}
@media screen and (min-width: 768px) {
  .view-id-scope_1.index-1 .arrow-up {
    margin-left: 29%;
  }
  .view-id-scope_1.index-2 .arrow-up {
    margin-left: 65%;
  }
}
.view-id-scope_1 .scope-close {
  background: #ebebeb url(/sites/all/themes/ocio/images/close-icon.png);
  height: 21px;
  width: 21px;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 12px;
  right: 0;
  position: absolute;
  z-index: 1;
}
.view-id-scope_1 .field-label {
  display: none;
}
.view-id-scope_1 .field-name-field-scope-title {
  font-size: 15px;
  color: #796e65;
  line-height: 1.33;
  margin-bottom: 5px;
  font-weight: 700;
  text-rendering: optimizelegibility;
  padding-right: 45px;
}
.bio-photo img {
  border: 1px solid #efefef;
  padding: 3px;
}
.leader-name {
  margin-top: 11px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #9e9991;
  margin: 11px 0 0 0;
}
.leader-email {
  font-size: 12px;
}
.profile-title {
  font-size: 16px;
  margin-top: 21px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.profile-tag-line {
  color: #9e9991;
  font-size: 15px;
  min-height: 30px;
  font-weight: 300;
}
@media screen and (min-width: 1200px) {
  .profile-tag-line {
    min-height: 100px;
  }
}
.field-name-field-scope-description {
  color: #9E9991;
  font-size: 14px;
}
.view-id-who_we_are #views-bootstrap-grid-7 {
  /*.col {
      margin-bottom: 3 * @padding-base-horizontal;
    }*/
  /*.views-field-nothing {
      position: absolute;
      @media @tablet {
        top: 400px;
      }
      @media @normal {
        top: 325px;
      }
      @media @wide {
        top: 325px;
      }
    }*/
}
.view-id-who_we_are #views-bootstrap-grid-7 > .row {
  min-height: 400px;
}
@media (min-width: 980px) {
  .view-id-who_we_are #views-bootstrap-grid-7 {
    width: 940px;
  }
}
@media screen and (min-width: 768px) {
  .view-id-who_we_are #views-bootstrap-grid-7 {
    margin-left: 15px;
  }
}
@media (min-width: 1281px) {
  .view-id-who_we_are #views-bootstrap-grid-7 {
    width: 1280px;
  }
}
.view-id-who_we_are #views-bootstrap-grid-7 a:hover,
.view-id-who_we_are #views-bootstrap-grid-7 a:active,
.view-id-who_we_are #views-bootstrap-grid-7 a:focus {
  color: #9CBFEC;
}
@media screen and (min-width: 768px) {
  .view-id-who_we_are #views-bootstrap-grid-7 .all-body {
    height: 135px;
  }
}
@media screen and (min-width: 992px) {
  .view-id-who_we_are #views-bootstrap-grid-7 .all-body {
    height: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .view-id-who_we_are #views-bootstrap-grid-7 .all-body {
    height: 125px;
  }
}
