a { color: #d2b400;}
a:hover, a:focus {color: #d2b400;}
.global-nav-container a{ color: #d2b400; }
.global-nav-container a span{color: #d2b400; }
.global-nav-container a span sup{color: #d2b400; }
.carousel-inner .item h3{	color: #d2b400;}
.number-head{color: #d2b400;}
.thumbnail, .thumbnail:focus, .thumbnail:hover, .thumbnail:active {color: #d2b400;}
.thumbnail, .thumbnail:focus .number-head, .thumbnail:hover .number-head, .thumbnail:active .number-head {color: #d2b400;}
.head-text{color: #d2b400;}
.global-nav-container .global-main-nav-sm .global-nav-menu a {color: #d2b400;}

.global-nav-container .global-sub-nav ul li.active a:after {
    border-left: 6px solid #d2b400;
}
@media (min-width: 981px){
	.global-nav-container .global-sub-nav ul li.leaf a:hover{
		border-bottom: solid 4px #d2b400;
	}
	.global-nav-container .global-sub-nav ul li.leaf a:focus{
		border-bottom: solid 4px #d2b400;
	}
	.global-nav-container .global-sub-nav ul li.leaf.active a{
		border-bottom: solid 4px #d2b400;
	}
	.global-nav-container .global-sub-nav ul li.global-sub-nav-home a:hover{
		border-bottom: none;
	}
	.global-nav-container .global-sub-nav ul li.global-sub-nav-home a:focus{
		border-bottom: none;
	}
	.global-nav-container .global-sub-nav ul li.global-sub-nav-home.active a{
		border-bottom: none;
	}
}